[submodule "introducaoainformatica/aula5/introducaoainformatica/aula5/Intro-a-Info"]
	path = introducaoainformatica/aula5/introducaoainformatica/aula5/Intro-a-Info
	url = https://github.com/FernandoMelloDH/Intro-a-Info
[submodule "introducaoainformatica/aula5/introducaoainformatica/aula5/Aula5-Colaborativo"]
	path = introducaoainformatica/aula5/introducaoainformatica/aula5/Aula5-Colaborativo
	url = https://github.com/thipfunari/Aula5-Colaborativo
