[submodule "introducaoainformatica/aula5/Aula5-Colaborativo-module"]
	path = introducaoainformatica/aula5/Aula5-Colaborativo-module
	url = https://github.com/thipfunari/Aula5-Colaborativo
[submodule "introducaoainformatica/mochila-turma12"]
	path = introducaoainformatica/mochila-turma12
	url = https://github.com/huberpoa/mochila-turma12.git
