[submodule "introducaoainformatica/introducaoainformatica/aula5/Aula5-Colaborativo"]
	path = introducaoainformatica/introducaoainformatica/aula5/Aula5-Colaborativo
	url = https://github.com/thipfunari/Aula5-Colaborativo.git
