

body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
}

body header {
    background-color: #94C5CC;
    color: #000100;
    grid-area: header;
    height: 20vh;    
}

body nav {
    background-color: #B4D2E7;
    grid-area: nav;
    height: auto;
    padding: 5vh;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 2vh;
}

ul li a {
    text-decoration: none;
    color: #000100;
}

body main {
    background-color: #F8F8F8;
    color: #000100;
    grid-area: main;
    height: auto;
    padding: 5vh;
}

.imagem {
    display: flex;
    justify-content: center;
}

img {
    width: 70vw;
}

body footer {
    background-color: #94C5CC;
    color: #000100;
    grid-area: footer;
    height: 10vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}